<h1>詳細画面</h1>
<p>内容: <%= @mutter.content %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@mutter.image_url) if @mutter.image.present? %>
</p>

<% unless @mutter.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(mutter_id: @mutter.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(mutter_id: @mutter.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
